@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Itim&family=Zain:wght@200;300;400;700;800;900&display=swap');
*{
    background-color: #fff4e4;
}
.logo{
    height: 80px;
    margin-left:15px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 0;
}
#weather-container {
    background: rgba(255, 255, 255, 0.1);
    max-width: 300px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    justify-content: center;
    margin-left:466px;
    margin-top: -200px;
    margin-bottom: 80px;
}
.image1{
    height: 330px;
    margin-left: 430px;
    margin-top: -140px;
    display: inline-block;
}
.image2{
    margin-top: -150px;
    display: inline-block;
    position:relative;
    height: 315px;
    margin-left: 920px;
}
.image3{
    margin-top: -150px;
    margin-left: -990px;
    display: inline-block;
    height: 380px;
}

h2, label, p {
    color: #9f512d;
    margin: 8px 0;
    font-family: "Itim", cursive;
    font-weight: 500;
    font-style: normal;
}

input {
    width: calc(100% - 16px);
    font-family: "Itim", cursive;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(126, 114, 73);
    margin-top: 20px;
}
input:hover{
    text-decoration: none;
    outline: none;
     cursor: pointer;
    transition: transform 0.5s;
}
button {
    background: #fcd24f;
    color: black;
    padding: 10px;
    border:2px solid #1f1347;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-family: "Itim", cursive;
    font-size: 15px;
}


button:hover {
    background:#cead49;
    color: white;
    border: none;

}

#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}